body {
  font-size: 14px;
}

main.app {
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  height: 4em;
  z-index: 100;
}

.navbar img {
  height: 2em;
}

.user.card {
  margin: 1em auto;
  min-width: 20em;
}

picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.editForm .avatar {
  margin: 2em auto;
}

.editForm picture img {
  width: 15em;
}