<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  <environment include="Development">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
  </environment>
  <environment exclude="Development">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
      asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
      asp-suppress-fallback-integrity="true"
    >
  </environment>

  <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>


  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" asp-controller="home" asp-action="index">
        <img class="img-fluid" src="~/images/user-default.png" alt="brand" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#divNavCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse bg-light" id="divNavCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" asp-controller="home" asp-action=".">List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-controller="home" asp-action="create">Create</a>
          </li>
        </ul>
      </div>
    </nav>


    <main class="app">
      <!-- Injection Entry -->
      @RenderBody()
    </main>

  </div>

  <environment include="Development">
    <script src="~/lib/jquery/jquery.slim.js"></script>
    <script src="~/lib/popper.js/umd/popper.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
  </environment>
  <environment exclude="Development">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
            asp-fallback-href="~/lib/jquery/jquery.slim.min.js"
            asp-suppress-fallback-integrity="true"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"
            asp-fallback-href="~/lib/bootstrap/js/bootstrap.min.js"
            asp-suppress-fallback-integrity="true"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"
            asp-fallback-href="~/lib/popper.js/umd/popper.js"
            asp-suppress-fallback-integrity="true"></script>

  </environment>

  @if (IsSectionDefined("Scripts"))
  {
    @RenderSection("Scripts");
  }


</body>
</html>
