@model EmployeeEditViewModel

@{ 
    ViewBag.Title = "Edit an employee";
    string avatarPath = (String.IsNullOrEmpty(Model.AvatarApplied) ? "~/images/user-default.png" : "~/media/" + Model.AvatarApplied);
}

  <form asp-controller="home" asp-action="edit" method="post" class="editForm mt-3" enctype="multipart/form-data">

    <input hidden asp-for="Id" />
    <input hidden asp-for="AvatarApplied" />

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
      <label asp-for="Name">Name</label>
      <div>
        <input type="text" class="form-control" asp-for="Name" aria-describedby="nameHelp" placeholder="Enter the name">
        <small id="nameHelp" class="form-text text-muted">Name la la la</small>
        <span asp-validation-for="Name" class="text-danger"></span>
      </div>
    </div>

    <div class="form-group">
      <label asp-for="Email">Email</label>
      <div>
        <input type="email" class="form-control" asp-for="Email" aria-describedby="emailHelp" placeholder="Enter the email">
        <small id="emailHelp" class="form-text text-muted">We will never tell his/her email to no-one else, literally meaning</small>
        <span asp-validation-for="Email" class="text-danger"></span>
      </div>
    </div>

    <div class="form-group">
      <label asp-for="Department">Department</label>
      <div>
        <select asp-for="Department" asp-items="Html.GetEnumSelectList<Dept>()" class="custom-select">
          <option value="">Select a department</option>
        </select>
        <span asp-validation-for="Department" class="text-danger"></span>
      </div>
    </div>

    <div class="form-group">
      <label asp-for="Avatar">Avatar</label>
      <div>
        <div id="avatarFile" class="custom-file">
          <input class="form-control custom-file-input" asp-for="Avatar" aria-describedby="avatarHelp">
          <label class="custom-file-label">Click to change the avatar...</label>
        </div>
        <small id="avatarHelp" class="form-text text-muted">A new shiny avatar</small>
      </div>
    </div>

    <div class="avatar">
      <picture>
        <img class="img-fluid" src="@Url.Content(@avatarPath)" alt="@Model.Name 's avatar" asp-append-version="true" />
      </picture>
    </div>

    <footer class="action">
      <button type="submit" class="btn btn-primary">Update</button>
      <a asp-controller="home" asp-action="." class="btn">Cancel</a>
    </footer>

  </form>

@section Scripts {
  <script>
    $(() => {
      let avatarDiv = $("#avatarFile");
      let inputBar = avatarDiv.find(".custom-file-input");
      let inputLabel = avatarDiv.find(".custom-file-label");
      if (inputBar) {
        inputBar.on("change", () => {
          let fileName = inputBar.val().split("\\").pop();
          if (inputLabel) {
            inputLabel.html(fileName);
          }
        });
      }
    });

  </script>
}